<div id="mainDiv" class="centered">
  <div id="breadcrumbDiv">
    <ol id="breadcrumbOl" class="breadcrumb">
      <li id="home" class="breadcrumb-item">
        <a href="#" class="black">Home</a>
      </li>
    </ol>
    <hr>
  </div>
  <div id="mainContent" class="centered results">
    <span id="loading" class="small text-center">Loading...</span>
  </div>
</div>
