<div id="mainDiv" class="centered">
  <div id="breadcrumbDiv">
    <ol id="breadcrumbOl" class="breadcrumb">
      <li id="home" class="breadcrumb-item">Home</li>
    </ol>
    <hr>
  </div>
  <div id="mainContent" class="centered results">
  </div>
</div>
