<div class="text-center">
  <p>Uh-oh! {{errors}}</p>
  {{!-- {{debug errors}} --}}
  {{!-- <p>To search for <b>{{type}}</b> including the term <a href="" id="newQuery">{{queryString}}</a></p> --}}
</div>