<button class="navbar-toggler ml-3" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
  <a id='myRecipes' class="dropdown-item" href="#">My Recipes</a>
  <a id='friends' class="dropdown-item" href="#">Friends</a>
  <a id='logout' class="dropdown-item" href="#">Logout</a>
</div>
