<div id="menu">
  <a id='profile' class='dropdown-item' href="#">Profile</a>
  <a id='recipes' class="dropdown-item" href="#">Recipes</a>
  <a id='friends' class="dropdown-item" href="#">Friends</a>
  <a id='logout' class="dropdown-item" href="#">Logout</a>
</div>
