<div id="menu">
  <a id='inbox' class="dropdown-item messagesLink" href="">Inbox</a>
  <a id='recipes' class="dropdown-item recipesLink" href="">Recipes</a>
  <a id='favorites' class="dropdown-item favoritesLink" href="">Favorites</a>
  <a id='friends' class="dropdown-item friendsLink" href="">Friends</a>
  <a id='profile' class='dropdown-item userLink' href="">Profile</a>
  <div class="dropdown-divider"></div>
  <a id='logout' class="dropdown-item" href="">Logout</a>
</div>
<div id="confirmLogout" class="alert alert-danger" style="display:none;">
  <p>Are you sure you want to log out?</p>
  <div class="text-center">
    <a href="" id="confirmYes" class="alert-link">Yes</a> /
    <a href="" id="confirmNo" class="alert-link">No</a>
  </div>
</div>
