{{#recipes}}
  <div id="recipe-{{id}}" class="result">
    <img src="{{thumbUrl}}" alt="">
    <div class="ml-3 small">
      <a href="" class="recipeLink black h6">{{name}}</a><br>
      <a href="" class="userLink recipeOwnerLink">{{owner.username}}</a>
    </div>
  </div>
{{/recipes}}
<div id="paginationNav">
</div>
