{{#users}}
  <div id="user-{{id}}" class="imageBox result">
    <img class="rounded" src="{{thumbURL}}">
    <div class="ml-3 small">
      <a href="" class="userLink black h6">{{username}}</a>
      {{#unlessFriend id}}
        <a href="" class="addFriend">
          <img style="vertical-align:text-top" src="/assets/icons/add-friend-16-bw.png" alt="Add Friend" class="addFriendImg" title="Add Friend">
        </a>
      {{/unlessFriend}}
      <br>
      <a href="" class="favoritesLink">Favorites</a> | <a href="" class="recipesLink">Recipes</a>
    </div>
  </div>
{{/users}}
<div id="paginationNav">
</div>
