<div id="user-{{id}}">
  <div class="row result">
    <div class="profileImage text-center col-12">
      <img class="rounded img-fluid" src="{{avatarURL}}" id="userAvatar" alt="{{username}} Avatar">
      {{#ifLoggedIn}}
        {{#ifFriend id}}
          <a href="" class="removeFriend">
            <img src="/assets/icons/remove-friend-bw.png" alt="Remove Friend" class="friendIcon removeFriendImg" title="Remove Friend">
          </a>
          {{#ifPending id}}
            <small class="text-success">Pending</small>
          {{/ifPending}}
        {{else}}
          <div>
            <a href="" class="addFriend">
              <img src="/assets/icons/add-friend-bw.png" alt="Add Friend" class="friendIcon addFriendImg" title="Add Friend">
            </a>
          </div>
        {{/ifFriend}}
        {{#ifOwned id}}
          <form id="editProfileImage">
            <input type="hidden" name="authenticity_token">
            <label id="profileImageLabel" for="profileImageInput">
              <img id="upload" src="/assets/icons/upload-bw.png" alt="Upload Image" title="Edit image">
            </label>
            <input type="file" name="avatar" id="profileImageInput">
          </form>
        {{/ifOwned}}
      {{/ifLoggedIn}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" id="userRecipes" data-tab="Recipes" data-type="recipes" class="nav-link active recipesLink">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="" id="userFavorites" data-tab="Favorites" data-type="recipes" class="nav-link favoritesLink">Favorites</a>
        </li>
        <li class="nav-item">
          <a href="" id="userFriends" data-tab="Friends" data-type="users" class="nav-link friendsLink">Friends</a>
        </li>
        {{#ifOwned id}}
          <li class="nav-item">
            <a href="" id="userMessages" data-tab="Messages" data-type="messages" class="nav-link messagesLink">Notifications <span class="small font-weight-bold black">(<span id="unreadCount" ></span>)</span></a>
          </li>
        {{/ifOwned }}
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="seeAll" class="col text-right small">
      <a href="" id="seeAllLink">See All</a>
    </div>
  </div>
  <div class="row">
    <div class="profileMessageDropdown">
      <div id="messageDropdown" class="dropdown-menu">
      </div>
    </div>
    <div id="profileContent" class="col">
    </div>
  </div>
</div>
