{{#users}}
  <div id="user-{{id}}" class="result">
    <div class="thumbnail"></div>
    <div class="ml-3 small">
      <a href="#" class="userLink black h6">{{username}}</a><br>
      <a href="#" class="favoritesLink">Favorites</a> | <a href="#" class="recipesLink">Recipes</a>
    </div>
  </div>
{{/users}}
