<div id="user-{{id}}">
  <div class="row result">
    <div class="col">

    </div>
  </div>
  <div class="row result">
    <div class="profileImage col-12">
      <form id="editProfileImage">
        <input type="hidden" name="authenticity_token">
        <label id="profileImageLabel" for="profileImageInput">
          <img id="upload" src="/assets/icons/upload-off.png" alt="Upload Image" title="Edit image">
        </label>
        <input type="file" name="profileImage" id="profileImageInput">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" id="userRecipes" class="nav-link active recipesLink">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="" id="userFavorites" class="nav-link favoritesLink">Favorites</a>
        </li>
        <li class="nav-item">
          <a href="" id="userFriends" class="nav-link friendsLink">Friends</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="seeAll" class="col text-right small" style="display:none;">
      <a href="" id="seeAllLink">See All</a>
    </div>
  </div>
  <div class="row">
    <div id="profileContent" class="col">
    </div>
  </div>
</div>
