.results {
  padding-top:1rem;
  .result {
    padding-bottom:1rem;
    display: flex;
  }
}

.thumbnail {
  background-color:silver;
  width:90px;
  height:90px;
}

.image {
  background-color:silver;
  height:300px;
}