$cornflower: lighten(#1c4587, 20%);

body {
  margin:auto;
  max-width: 1000px;
}
.centered {
  margin: auto;
  width: 70%;
}
.breadcrumb {
  font-size: 80%;
  background-color: transparent;
  margin: 0.25rem;
  margin-left:0.75rem;
  padding: 0;
}

.btn-outline-primary {
  color:$cornflower;
  border-color:$cornflower;
  &:hover {
    background-color:$cornflower;
  }
}

button:focus {
  outline: 0;
}

a {
  color:$cornflower;
  &:hover {
    text-decoration:none;
    color: #1c4587;
  }
}

hr {
  margin-top:0;
  margin-bottom:0;
}
