$cornflower: lighten(#1c4587, 20%);

#mainDiv {
  margin:auto;
  width: 70%;
}
.breadcrumb {
  background-color: transparent;
  margin-top: 1.2rem;
  padding: 0;
}

.btn-outline-primary {
  color:$cornflower;
  border-color:$cornflower;
  &:hover {
    background-color:$cornflower;
  }
}

button:focus {
  outline: 0;
}

.link {
  color:$cornflower;
  &:hover {
    text-decoration:none;
    color: #1c4587;
  }
}
