$cornflower: lighten(#1c4587, 20%);
$danger: darken(#dc3545, 15%);

@media screen and (max-width:805px) {
  body {
    #contentRow {
      padding-top:132px;
    }
  }
}
@media screen and (max-width:570px) {
  body {
    #contentRow {
      padding-top:210px;
    }
  }
}

body {
  margin:auto;
  max-width: 1000px;
  overflow: scroll;
  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-track {
      background: white;
  }

  &::-webkit-scrollbar-thumb {
      background: #CCD2D9;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #9F9F9F;
  }
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
  &:hover {
    color: white;
    background-color: $danger;
    border-color: $danger;
  }
}
.centered {
  margin: auto;
  width: 70%;
}

.inbox, #profileContent {
  width: 85%;
  div.input-group {
    // box-shadow: 0px 0px 2px 0px darken(#CCD2D9, 35%);
    &:hover {
      box-shadow:0px 0px 20px -7px $cornflower;
    }
  }
  span.input-group-text, span.form-control {
    // border-color:white;
    background-color:white;
    font-size: 80%;
  }
}

.breadcrumb {
  font-size: 80%;
  background-color: transparent;
  margin: 0.25rem;
  margin-left:0.75rem;
  padding: 0;
  .breadcrumb-item:last-child {
    color:$cornflower;
  }
  .linkCursor {
    cursor: pointer;
  }
  .breadcrumb-item:only-child {
    color:$cornflower;
  }
}

.btn-outline-primary {
  color:$cornflower;
  border-color:$cornflower;
  &:hover {
    background-color:$cornflower;
  }
}

.page-link {
  padding: 0.25rem 0.65rem;
}

button:focus {
  outline: 0;
}

#alertMessage {
  padding: .25rem 1.25rem !important;
}

.black {
  color:black;
}

.white {
  color:white;
}

.blue {
  color:$cornflower;
}

a {
  color:$cornflower;
  &:hover {
    text-decoration:none;
    color: #1c4587;
  }
}

hr {
  margin-top:0;
  margin-bottom:0;
}

.pagination a {
  color:$cornflower;
}

.active.page-item .page-link {
  background-color: $cornflower !important;
  border-color: $cornflower !important;
}

.imageBox {
  display: flex;
  align-items: center;
}

// #contentRow {
//   padding-top:85px;
// }

#navRow {
  background-color:white;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  height:90px;
  z-index:1030;
}

.blue-border {
  border-color:$cornflower;
}

#composeDropdown {
  #newMessageTitleBar {
    background-color:#424242;
    color:white;
    padding:3px 10px;
    border-top-left-radius:0.25rem;
    border-top-right-radius:0.25rem;
    height:32px;
    width:400px;
    line-height:25px;
  }
  #newMessageForm {
    padding:5px 20px;
    input, select, textarea {
      border-color:#fff0;
    }
  }
  left:10px;
  box-shadow:0px 0px 20px -10px;
  width:400px;
  height:300px;
  padding-top:0px;
}

#closeMessage {
  font-size:25px;
  vertical-align: top;
  a:hover {
    color:#9F9F9F;
  }
}
