.results {
  padding-top:1rem;
  .result {
    padding-bottom:1rem;
    display: flex;
    align-items:center;
  }
}

.thumbnail {
  background-color:silver;
  width:90px;
  height:90px;
}

.image {
  background-color:silver;
  height:300px;
}

.profileImage {
  background-color:silver;
  height:200px;
}

#ingredientList {
  list-style-type:none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  li {
    padding:.1em;
  }
}

#recipeDirections .directionList {
    position:relative;
    margin-bottom:0.85rem;
  &:last-child {
    margin-top:0.85rem;
    margin-bottom:0;
  }
  &:only-child {
    margin:0;
  }
}
.directions {
  resize:none;
}

.remove {
  position:absolute;
  top:-2px;
  right:-18px;
}
