#ingredientList {
  list-style-type:none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  li {
    padding:.1em;
  }
}

#recipeDirections .directionList {
    position:relative;
    margin-bottom:0.85rem;
  &:last-child {
    margin-top:0.85rem;
    margin-bottom:0;
  }
  &:only-child {
    margin:0;
  }
}
.directions {
  resize:none;
}

.remove {
  position:absolute;
  top:-2px;
  right:-18px;
}

.rel {
  position: relative;
}

label.its-invalid {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 5;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size:.875rem;
  line-height: 1;
  color:rgb(220, 53, 69);
  border-radius: .2rem;
}

#shareDropdown {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0px !important;
  top: 25px;
  left: 350px;
  background-color: rgba(0, 0, 0, 0);
  form {
    .select-style {
      font-size: 12px;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      width: 100px;
      border-radius: 3px;
      overflow: hidden;
      background-color: #fff;
      & select {
        padding: 2px 2px;
        width: 142%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    .form-control, .btn {
      margin: 0;
      padding: 2px;
      font-size: 12px;
    }
  }
}

.shareRecipeWindow {
  padding: 0px;
  border: 0px;
}
