.results {
  padding-top:1rem;
  .result {
    padding-bottom:1rem;
    display: flex;
  }
}

.thumbnail {
  background-color:silver;
  width:90px;
  height:90px;
}

.image {
  background-color:silver;
  height:300px;
}

.profileImage {
  position:relative;

  & > form input {
    display:none;
  }
  label {
    z-index: 1000;
    position:absolute;
    bottom:-35px;
    right:15px;
  }
  & img {
    cursor:pointer;
  }
}

#ingredientList {
  list-style-type:none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  li {
    padding:.1em;
  }
}

#recipeDirections .directionList {
    position:relative;
    margin-bottom:0.85rem;
  &:last-child {
    margin-top:0.85rem;
    margin-bottom:0;
  }
  &:only-child {
    margin:0;
  }
}
.directions {
  resize:none;
}

.remove {
  position:absolute;
  top:-2px;
  right:-18px;
}

.rel {
  position: relative;
}

label.its-invalid {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 5;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size:.875rem;
  line-height: 1;
  color:rgb(220, 53, 69);
  // background-color:rgba(220, 53, 69, 0.6);
  border-radius: .2rem;
}
